.home{
  /*
  text-align: center;
  margin-top: calc(50vh -6rem);
  margin-bottom: 55vh;
  margin-left: 15vw;
  margin-right: 15vw;
  height: calc(100vh - 60px);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  text-align: center;
  margin-top: 35vh;
  margin-bottom: 35vh;
  margin-left: 15vw;
  margin-right: 15vw;
}

.home h1{
  font-size: 60px;
  margin: 0;
}

.home p{
  font-size: 20px;
  margin-bottom: 50px
}